*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: gray;
}



header{
	height: 400px;
    background-image: url(img/mv.jpg);
    background-size: cover;
    background-position: bottom;
}

.header-text{
	padding: 20px 0 0 20px;

}




.main-box{
	margin: 0 auto;
	width: 840px;
	padding: 20px 0 50px 0;

}

.webcamp{
	padding: 30px 0;
	border-bottom: 1px solid lightgray;
}
